:root {
    --menuPrimaryColor: rgba(0, 100, 183, 1);
    --menuSecondaryColor: rgba(0, 144, 234, 0.98);
    --menuSecondaryColorOpacity: rgba(0, 100, 183, 0.8);
    --headerFont: 'Libre-Baskerville', serif;
    --regularFont: 'Montserrat', sans-serif;
    --shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
    --shadowActiveFont: 0px 0 5px rgba(0, 0, 0, 0.8);
    --shadowNonActiveFont: 0px 0 5px rgba(255, 255, 255, 0.8);
}

@font-face {
    font-family: Montserrat;
    src: url(/Fonts/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(/Fonts/Montserrat-Semibold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Libre-Baskerville;
    src: url(/Fonts/LibreBaskerville-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--regularFont);
    font-size: 16px;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headerFont);
    text-align: center;
}
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
        text-decoration: underline;
    }
    h3 {
        font-size: 1.5em;
    }
        h3 a {
            text-decoration: none;
            color: black;
        }
    h4 {
        font-size: 1.3em;
    }
    h5 {
        font-size: 1.1em;
    }


#container {
    height: 100%;
    width: 100%;
}


.sticky {
    position: fixed !important;
    top: -180px !important;
}

.active {
    background: var(--menuPrimaryColor);
}
    .active a {
        color: white !important;
        text-shadow: var(--shadowActiveFont) !important;
    }

#siHeader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 220px;
    z-index: 100;
}
    #siHeaderMain {
        position: relative;
        margin: 0 auto;
        top: 0;
        width: 1080px;
        height: 220px;
        box-shadow: var(--shadow);
    }
    #siHeaderMainBackground img {
        width: 1080px;
        height: 220px;
    }
    #siHeaderMainMenu {
        position: absolute;
        bottom: 0;
        overflow: visible;
        background: var(--menuSecondaryColorOpacity);
        font-family: var(--headerFont);
    }
    
        #siHeaderMainMenu a {
            font-family: inherit;
            font-size: 1.2em;
            float: left;
            color: black;
            text-shadow: var(--shadowNonActiveFont);
            text-align: center;
            padding: 0;
            text-decoration: none;
        }
        
        #siHeaderMainMenu #dropDown {
            float: left;
            overflow: hidden;
        }
        
            #siHeaderMainMenu #dropDown #dropbtn {
                font-size: inherit;
                border: none;
                outline: none;
                color: black;
                padding: 10px 11.7px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }
        
        #siHeaderMainMenu a:hover, #siHeaderMainMenu #dropDown:hover #dropbtn, #siHeaderMainMenu #dropDown:hover #dropbtn > a {
            color: white !important;
            text-shadow: var(--shadowActiveFont);
            background: var(--menuPrimaryColor);
        }

        #siHeaderMainMenu #dropDownContent {
            display: none;
            position: absolute;
            background: var(--menuSecondaryColor);
            min-width: 160px;
            box-shadow: var(--shadow);
            z-index: 1;
        }
        
            #siHeaderMainMenu #dropDownContent a {
                float: none;
                color: black;
                padding: 10px 11.7px;
                text-decoration: none;
                display: block;
                text-align: left;
            }
                #siHeaderMainMenu #dropDownContent a:hover {
                    background: var(--menuPrimaryColor);
                }
        
        #siHeaderMainMenu #dropDown:hover #dropDownContent {
            display: block;
        }

#siArticle {
    position: relative;
    top: 235px;
    width: 100%;
}
    #siArticleMain {
        position: relative;
        margin: 0 auto;
        top: 0;
        width: 1080px;
    }
    #siArticleMain p {
        text-indent: 1em;
    }


#siExtra {
    background-color: var(--menuSecondaryColor);
    color: white;
    padding: 16px;
    box-shadow: var(--shadow);
}
    #siExtra a {
        text-decoration: underline;
        color: black;
        font-weight: bold;
    }


#siFooter {
    width: 100%;
}
    #siFooterMain {
        position: relative;
        margin: 0 auto;
        width: 1080px;
        height: 50px;
        top: 280px;
        background: var(--menuSecondaryColorOpacity);
        box-shadow: var(--shadow);
        font-family: var(--headerFont);
        text-align: center;
        font-size: 1.2em;
        overflow: hidden;
    }
        #siFooterMainBackground {
            position: relative;
            top: -58px;
            z-index: -1;
        }
            #siFooterMainBackground img {
                width: 1080px;
                height: 220px;
            }
        #siFooterMain p {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
        #siFooterMain a {
            text-decoration: none;
            color: white;
            text-shadow: var(--shadowActiveFont);
        }
        #siFooterFlecha {
            position: relative;
            margin: 0 auto;
            width: 1080px;
            top: 260px;
            font-size: 1.2em;
            text-align: center;
        }
            #siFooterFlecha a {
                text-decoration: none;
                color: black;
            }
            .prev {
                float: left;
                left: 0;
                margin-left: 30px;
            }
            .next {
                float: right;
                right: 0;
                margin-right: 30px;
            }
            #siFooterFlecha i {
                font-size: 1.1em;
            }
.footerFixed {
    position: fixed;
    bottom: 20px;
}
    .footerFixed > #siFooterFlecha{
        top: 0;
    }
    .footerFixed > #siFooterMain {
        top: 20px;
    }


table, td, th {
    border: 2px solid black;
}

    table {
        width: 80%;
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
    }

    td, th {
        padding: 5px;
    }
    th {
        color: white;
        background: var(--menuPrimaryColor);
    }


iframe {
    box-shadow: var(--shadow);
}


/* Ãndice */
#siIndice a {
    text-decoration: none;
    color: black;
}

#siIndice ul, #siInidce li {
    list-style: outside none !important;
}

#siIndice > ul > li {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
}

#siIndice > ul > li > ul > li {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
}

#siIndice > ul > li > ul > li > ul > li {
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.4em;
}


/* 404 */
#si404 {
    display: flex;
    height: calc(100vh - 220px);
    position: absolute;
    top: -20px;
    left: 0;
}
    #si404 img {
        width: 60%;
        margin: auto;
    }

#si404Text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    color: black;
    text-shadow: 0px 0 5px rgba(255, 255, 255, 0.8);;
}